@model IEnumerable<MotleyFlash.Message>

@foreach (var message in Model)
{
    <div>
        <div>
            <strong>@message.Title</strong>
        </div>
        <div>
            <blockquote>
                @message.Text
            </blockquote>
        </div>
    </div>
}
